body {
  background-color: #ee6e73;
  margin: 0;
  padding: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-shadow {
  box-shadow: none;
}
.search {
  padding: 0px 200px;
}
.transparent {
  background-color: transparent;
}

.naf {
  text-align: center;
}
.no-shadow {
  box-shadow: none;
}
.no-border {
  border: none;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.no-margin {
  margin: 0;
}
.btn {
  background-color: rgba(0, 0, 0, 0.8);
}
.btn:hover {
  background-color: rgba(73, 72, 72, 0.8);
}

.limited-width {
  width: 74%;
  margin-left: 13%;
  margin-top: 3%;
}

.dashboard-title {
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 350%;
}

.card-panel-hoverable {
  background-color: transparent;
}

.auctions-dates {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-description {
  text-align: center;
}

input {
  color: white;
}
label {
  color: white;
}

.input-field label {
  color: #000;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* input start color*/
.input-field input {
  border-bottom: 1px solid #000 !important;
  /* box-shadow: 0 1px 0 0 #000 !important; */
}

.current-bid {
  text-align: center;
}

.font-bold {
  font-weight: 600;
}

.test-class {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
  color: darkgreen;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

