body {
  background-color: #ee6e73;
  margin: 0;
  padding: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-shadow {
  box-shadow: none;
}
.search {
  padding: 0px 300px !important;
}
.transparent {
  background-color: transparent;
}

.naf {
  text-align: center;
}
.no-shadow {
  box-shadow: none;
}
.no-border {
  border: none !important;
}
.no-padding-bottom {
  padding-bottom: 0 !important;
}
.flexbox {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.no-margin {
  margin: 0;
}
.btn {
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin-right: 4px;
}
.btn:hover {
  background-color: rgba(73, 72, 72, 0.8) !important;
}

.limited-width {
  width: 74%;
  margin-left: 19%;
  margin-top: 3%;
}

.dashboard-title {
  color: white;
  text-align: center;
  margin-top: 5%;
  font-size: 40px;
}

.card-panel-hoverable {
  background-color: transparent;
}

.auctions-dates {
  text-align: center;
}

.card-title {
  text-align: center;
}

.card-description {
  text-align: center;
}

.input-field label {
  color: #000;
}

/* label underline focus color */
.input-field input:focus {
  border-bottom: 1px solid #000 !important;
  box-shadow: 0 1px 0 0 #000 !important;
}

/* input start color*/
.input-field input {
  border-bottom: 1px solid #000 !important;
  /* box-shadow: 0 1px 0 0 #000 !important; */
}

.current-bid {
  text-align: center;
}

.font-bold {
  font-weight: 600;
}

.test-class {
  position: absolute;
  right: 0;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 700;
  color: darkgreen;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.text-black {
  color: black;
}

.created-by {
  float: right;
}
.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}
.margin-top-50 {
  margin-top: 50px !important;
}
.title {
  margin-top: -3%;
}
label {
  color: white !important;
}
.black-border {
  border-bottom: 1px solid black !important;
}
.create-auction {
  padding: 0px 200px;
}

.react-icon {
  margin-top: 20%;
}
.summary-img img {
  width: 250px !important;
  display: inline-block !important;
}
.summary-img {
  min-height: 256.22px !important;
  max-height: 256.22px !important;
}
.summary-title {
  background-color: black;
  padding: 2px 10px !important;
  font-size: 20px !important;
}
.summary-bid {
  top: 0 !important;
  bottom: unset !important;
  right: 0 !important;
  left: unset !important;
  padding: 2px 10px !important;
  font-size: 17px !important;
}
.bid-color {
  background: forestgreen;
}
.bid-color-alt {
  background: red;
}
.summary-content {
  color: black !important;
  font-weight: 700 !important;
}

.card-img {
  width: 500px;
}

.padding-20 {
  padding: 20px;
}
.detail-summary {
  min-height: 350px;
}
.detail-summary img {
  width: 350px !important;
  display: inline-block !important;
}
